spring:
  application:
    name: post-service
  datasource:
    url: jdbc:postgresql://localhost:5432/post_service_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
  kafka:
    bootstrap-servers: localhost:9092

server:
  port: 8082
grpc:
  server:
    port: 9091

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics
