spring:
  application:
    name: order-service
  datasource:
    url: jdbc:postgresql://localhost:5432/order_service_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
  kafka:
    bootstrap-servers: localhost:9092
    topic:
      orders: orders

server:
  port: 8083
grpc:
  server:
    port: 9092

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics
